@import "scss/pages/users";
@import "scss/pages/color";
@import "scss/pages/size";
@import "scss/pages/group";

.sweet-alert button.cancel {
    background-color: red !important;
}

.sweet-overlay {
    z-index: 10000 !important;
}

.dk-alert {
    z-index: 99999 !important;
}